@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:where(.dark, .dark *));

 
:root {
  /* --background: oklch(96.115% 0.00011 271.152);
  --background-l1: oklch(92.843% 0.00762 187.672);
  --background-l2: oklch(68.295% 0.00008 271.152);
  --text: oklch(21.779% 0.00002 271.152);
  --text-mute: oklch(42.024% 0.00005 271.152);
  --primary: oklch(76.658% 0.15988 163.355);
  --secondray: oklch(84.617% 0.06055 173.527);
  --warning: oklch(74.082% 0.13438 19.658); */

  --background: oklch(96.115% 0.00011 271.152);
  --foreground: oklch(21.779% 0.00002 271.152);

  --card: oklch(92.843% 0.00762 187.672);
  --card-foreground: oklch(21.779% 0.00002 271.152);
  --popover: oklch(92.843% 0.00762 187.672);
  --popover-foreground: oklch(21.779% 0.00002 271.152);
  --primary: oklch(76.658% 0.15988 163.355);
  --primary-foreground: oklch(21.779% 0.00002 271.152);
  --secondary: oklch(84.617% 0.06055 173.527);
  --secondary-foreground: oklch(21.779% 0.00002 271.152);
  /* --muted: oklch(0.97 0 0); */
  --muted-foreground: oklch(42.024% 0.00005 271.152);
  /* --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0); */
  --border: oklch(68.295% 0.00008 271.152);
  /* --input: oklch(0.922 0 0); */
  --ring: oklch(76.658% 0.15988 163.355);
  --radius: 0.3rem;
  --destructive: oklch(74.082% 0.13438 19.658);

  /* --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0); */
  /* --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(21.779% 0.00002 271.152);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

.dark {
  /* --background: oklch(22.087% 0.00773 182.387);
  --background-l1: oklch(25.394% 0.00887 184.7);
  --background-l2: oklch(51.028% 0.00006 271.152);
  --text: oklch(92.494% 0.00011 271.152);
  --text-mute: oklch(76.676% 0.00009 271.152);
  --primary: oklch(89.099% 0.17688 164.775);
  --secondary: oklch(92.6% 0.06329 172.503);
  --warning: oklch(74.082% 0.13438 19.658); */

  --background: oklch(22.087% 0.00773 182.387);
  --foreground: oklch(92.494% 0.00011 271.152);

  --card: oklch(25.394% 0.00887 184.7);
  --card-foreground: oklch(92.494% 0.00011 271.152);
  --popover: oklch(25.394% 0.00887 184.7);
  --popover-foreground: oklch(92.494% 0.00011 271.152);
  --primary: oklch(89.099% 0.17688 164.775);
  --primary-foreground: oklch(22.087% 0.00773 182.387);
  --secondary: oklch(92.6% 0.06329 172.503);
  --secondary-foreground: oklch(22.087% 0.00773 182.387);
  /* --muted: oklch(0.97 0 0); */
  --muted-foreground: oklch(76.676% 0.00009 271.152);
  /* --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0); */
  --border: oklch(51.028% 0.00006 271.152);
  /* --input: oklch(0.922 0 0); */
  --ring: oklch(89.099% 0.17688 164.775);
  --destructive: oklch(74.082% 0.13438 19.658);

  /* --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0); */
  /* --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(21.779% 0.00002 271.152);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}